<div style="text-align: end;">
  <button type="button" class="btn btn-icon btn-primary" (click)="onRefreshFeatures()" aria-label="settings">
    <clr-icon shape="refresh"></clr-icon>
  </button>
</div>
<clr-datagrid>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Version</clr-dg-column>

  <clr-dg-row *ngFor="let featureModel of featureModels">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onViewFeature(featureModel)">View</button>
    </clr-dg-action-overflow>
      <clr-dg-cell>{{featureModel.displayName}}</clr-dg-cell>
      <clr-dg-cell>{{featureModel.version}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{featureModels.length}} features</clr-dg-footer>
</clr-datagrid>