<h3>{{model.displayName}}</h3>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Information</button>
    <clr-tab-content>
      <table class="table table-model">
        <tbody>
          <tr>
            <td class="left">Plugin Version</td>
            <td class="left">{{model.version}}</td>
          </tr>
          <tr>
            <td class="left">Minimal Feature integration Version</td>
            <td class="left">{{model.minFeatureIntegrationPoint}}</td>
          </tr>
          <tr>
            <td class="left">Minimal UI integration Version</td>
            <td class="left">{{model.minControlIntegrationPoint}}</td>
          </tr>
          <tr>
            <td class="left">Author</td>
            <td class="left">{{model.author}}</td>
          </tr>
          <tr *ngIf="model.url != null && model.url != ''">
            <td class="left">Website</td>
            <td class="left"><a [href]="model.url" target="_blank">{{model.url}}</a></td>
          </tr>
        </tbody>
      </table>
      <div>
        <button type="button" class="btn btn-icon btn-primary" aria-label="open folder" (click)="openFolder()">
          <clr-icon shape="folder-open"></clr-icon>
        </button>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="model.hasSettings">
    <button clrTabLink>Settings</button>
    <clr-tab-content>
      <div class="settings-content-wrapper" [innerHtml]="settingsUrl | safeHtml"></div>
      <div>
        <button class="btn btn-success" (click)="onSave()">Save</button>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="model.hasProfiles">
    <button clrTabLink>Profiles</button>
    <clr-tab-content>
      <div class="profile-select-wrapper">
        <select clrSelect name="options" [(ngModel)]="options">
          <option value="one">One</option>
          <option value="two">Two</option>
          <option value="three">Three</option>
        </select>
        <input style="margin-left: 25px;" clrInput placeholder="My input" name="input" [(ngModel)]="input" />
        <button style="margin-left: 25px;margin-top: 10px;" class="btn btn-primary" (click)="onAddProfile()">Add Profile</button>
        <button style="margin-top: 10px;" class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
      <div class="profil-content-wrapper" [innerHtml]="settingsUrl | safeHtml"><!--[innerHtml]="settingsUrl | safeHtml"-->
      </div>
      <div>
        <button class="btn btn-success" (click)="onSave()">Save</button>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="model.documentation != null && model.documentation != ''">
    <button clrTabLink>Documentation</button>
    <clr-tab-content>
      {{ model.documentation }}
    </clr-tab-content>
  </clr-tab>
</clr-tabs>