<h3>{{model.displayName}}</h3>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="information">Information</button>
    <clr-tab-content>
      <table class="table table-model">
        <tbody>
          <tr>
            <td class="left">Plugin Version</td>
            <td class="left">{{model.version}}</td>
          </tr>
          <tr>
            <td class="left">Minimal Feature integration Version</td>
            <td class="left">{{model.minFeatureIntegrationPoint}}</td>
          </tr>
          <tr>
            <td class="left">Minimal UI integration Version</td>
            <td class="left">{{model.minControlIntegrationPoint}}</td>
          </tr>
          <tr>
            <td class="left">Author</td>
            <td class="left">{{model.author}}</td>
          </tr>
          <tr *ngIf="model.url != null && model.url != ''">
            <td class="left">Website</td>
            <td class="left"><a [href]="model.url" target="_blank">{{model.url}}</a></td>
          </tr>
        </tbody>
      </table>
      <div>
        <button type="button" class="btn btn-icon btn-primary" aria-label="open folder" (click)="openFolder()">
          <clr-icon shape="folder-open"></clr-icon>
        </button>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="model.hasSettings">
    <button clrTabLink id="settings">Settings</button>
    <clr-tab-content>
      <div #settingContentWrapper class="settings-content-wrapper"></div>
      <div>
        <button class="btn btn-success" [disabled]="!canSaveSetting" (click)="onSaveSetting()">Save</button>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="model.hasProfiles">
    <button clrTabLink id="profiles">Profiles</button>
    <clr-tab-content>
      <div class="profile-select-wrapper">
        <select clrSelect name="options" [(ngModel)]="SelectedProfileId">
          <option *ngFor="let item of modelProfiles.content" [value]="item.id">{{ item.displayName }}</option>
        </select>
        <input style="margin-left: 25px;" clrInput placeholder="Profile" name="input" [(ngModel)]="SelectedProfileName" />
        <button style="margin-left: 25px;margin-top: 10px;" class="btn btn-primary" (click)="onAddProfile()">Add Profile</button>
        <button style="margin-top: 10px;" class="btn btn-danger" (click)="onDeleteProfile()">Delete</button>
      </div>
      <div #profileContentWrapper class="profil-content-wrapper"></div>
      <div>
        <button class="btn btn-success" [disabled]="!canSaveProfile" (click)="onSaveProfile()">Save</button>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="model.documentation != null && model.documentation != ''">
    <button clrTabLink>Documentation</button>
    <clr-tab-content>
      {{ model.documentation }}
    </clr-tab-content>
  </clr-tab>
</clr-tabs>