<h3>{{model.name}}</h3>
<table class="table table-model">
  <tbody>
    <tr>
      <td class="left">Model</td>
      <td class="left">{{model.manufacturer}} {{model.model}}</td>
    </tr>
    <tr>
      <td class="left">Platform</td>
      <td class="left">{{model.platform}} {{model.oSVersion}}</td>
    </tr>
    <tr>
      <td class="left">Idiom</td>
      <td class="left">{{model.idiom}}</td>
    </tr>
    <tr>
      <td class="left">Devicetype</td>
      <td class="left">{{model.deviceType}}</td>
    </tr>
  </tbody>
</table>
<div>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options" value="true" (ngModelChange)="onAllowAccessChanged($event)" [(ngModel)]="allowAccessCheck" />
      <label>Allow access</label>
    </clr-checkbox-wrapper>
    <clr-control-helper>Uncheck to no longer allow this device to have access.</clr-control-helper>
  </clr-checkbox-container>
  <br>
  <button class="btn btn-success" [disabled]="saveDisabled" (click)="onSave()">Save</button>
  <button class="btn btn-danger" (click)="onDelete()">Delete Device</button>
</div>
<clr-modal [(clrModalOpen)]="confirmModal">
  <h3 class="modal-title">{{modalTitle}}</h3>
  <div class="modal-body" *ngIf="isSaveModel === false">
      <p>{{modalDescription}}</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="confirmModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onModalConfirm()">Ok</button>
  </div>
</clr-modal>