<body>
  <div class="main-container">
    <!--<div class="alert alert-app-level">
        ...
    </div>-->
    <header class="header-1">
      <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Rediscovery Hub</span>
        </a>  
      </div>
      <div class="header-nav">
        <!--class="active nav-link nav-text"-->
          <a [routerLink]="['/devices']" [routerLinkActive]="['active']" class="nav-link nav-text">Devices</a>
          <a [routerLink]="['/features']" [routerLinkActive]="['active']" class="nav-link nav-text">Features</a>
          <a [routerLink]="['/logger']" [routerLinkActive]="['active']" class="nav-link nav-text">Logger</a>
      </div>
      <div class="header-actions">
        <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a [routerLink]="['/info']" [routerLinkActive]="['active']" clrDropdownItem>Info</a>
              <a [routerLink]="['/settings']" [routerLinkActive]="['active']" clrDropdownItem>Settings</a>
              <a (click)="onExit()" clrDropdownItem>Exit</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
  </header>
    <!--<nav class="subnav">
        ...
    </nav>-->
    <div style="height: 100%;">
      <router-outlet></router-outlet>  
    </div>
    
    <!--<div class="content-container">
        
    </div>-->
</div>
  <!--<app-nav-menu></app-nav-menu>-->
  <!--<div class="container">
    <router-outlet></router-outlet>
  </div>-->
</body>
