<body>
  <div class="main-container">
    <div *ngIf="!isServiceConnected" class="alert alert-app-level alert-danger" role="alert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                  Could not connect to Service
              </div>
              <div class="alert-actions">
                  <button class="btn alert-action" (click)="onServiceConnection()">Reconnect</button>
              </div>
          </div>
      </div>
  </div>
    <header class="header-1">
      <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
          <clr-icon shape="grid-view"></clr-icon>
          <span class="title">Rediscovery Hub</span>
        </a>  
      </div>
      <div class="header-nav">
          <a [routerLink]="['/devices']" [routerLinkActive]="['active']" class="nav-link nav-text">Devices</a>
          <a [routerLink]="['/features']" [routerLinkActive]="['active']" class="nav-link nav-text">Features</a>
          <a [routerLink]="['/logger']" [routerLinkActive]="['active']" class="nav-link nav-text">Logger</a>
      </div>
      <div class="header-actions">
        <a (click)="onServiceConnection()" class="nav-link nav-icon tooltip tooltip-bottom-left" aria-label="settings">
          <clr-icon *ngIf="isServiceConnected" shape="connect"></clr-icon>
          <clr-icon *ngIf="!isServiceConnected" shape="disconnect"></clr-icon>
          <clr-icon *ngIf="false" shape="disconnect"></clr-icon>
          <span *ngIf="isServiceConnected" class="tooltip-content">Service is connected</span>
          <span *ngIf="!isServiceConnected" class="tooltip-content">Service is offline, try to reconnect</span>
        </a>
        <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a [routerLink]="['/info']" [routerLinkActive]="['active']" clrDropdownItem>Info</a>
              <a [routerLink]="['/settings']" [routerLinkActive]="['active']" clrDropdownItem>Settings</a>
              <a (click)="onExit()" clrDropdownItem>Exit</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
  </header>
    <div style="height: calc(100% - 60px);">
      <router-outlet></router-outlet>  
    </div>
</div>
</body>
