<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
      <a [routerLink]="['/features']" [routerLinkActive]="['active']" class="nav-link">
          Feature list
      </a>
      <section class="nav-group collapsible">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Features</label>
        <ul class="nav-list">
            <li><a class="nav-link">Link 1</a></li>
            <li><a class="nav-link">Link 2</a></li>
        </ul>
      </section>
    </section>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
