@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/materialicons/MaterialIcons-Regular.eot');
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/materialicons/MaterialIcons-Regular.woff2') format('woff2'), url('../fonts/materialicons/MaterialIcons-Regular.woff') format('woff'), url('../fonts/materialicons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-content {
    flex:auto;
}

.center-content {
    flex: 0 1;
}

.footer-content {
    flex: 0 1;
}

.footer-content-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    margin: 10px;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.content-info {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

.content-buttons {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.info-artist {
    font-size: 1rem;
    font-weight: 600;
}

.info-album {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.info-song {
    font-size: 1.15rem;
    font-weight: 700;
    color: #d30320;
    margin-bottom: 0.5rem;
}

.list-main-buttons {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

    .list-main-buttons li:first-of-type, .list-main-buttons li:last-of-type {
        opacity: .6;
    }

.list-footer-buttons {
    justify-content: center;
}

.list-footer-buttons li {
    margin-left: 20px;
    margin-right: 20px;
}

    .list-footer-buttons li:first-of-type {
        margin-left: 0px;
    }

    .list-footer-buttons li:last-of-type {
        margin-right: 0px;
    }

    .list-footer-buttons li .btn-floating i {
        color: black;
    }