<h3>{{model.name}}</h3>
<table class="table table-model">
  <tbody>
    <tr>
      <td class="left">Model</td>
      <td class="left">{{model.manufacturer}} {{model.model}}</td>
    </tr>
    <tr>
      <td class="left">Platform</td>
      <td class="left">{{model.platform}} {{model.oSVersion}}</td>
    </tr>
    <tr>
      <td class="left">Idiom</td>
      <td class="left">{{model.idiom}}</td>
    </tr>
    <tr>
      <td class="left">Devicetype</td>
      <td class="left">{{model.deviceType}}</td>
    </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-primary" (click)="onOpenEdit()">Edit</button>
</div>