<div class="content-container">
  <div class="content-area">
    <div>
      <button type="button" class="btn btn-icon" [ngClass]="{'btn-primary': !autoscroll, 'btn-primary-outline': autoscroll}" aria-label="autoscroll" (click)="changeAutoscroll()" title="Autoscroll Text">
        <clr-icon shape="collapse-card"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-warning" aria-label="clear console" (click)="clearConsole()" title="Clear Console">
        <clr-icon shape="times-circle"></clr-icon>
      </button>
    </div>
    <div class="shell-wrap">
      <div class="shell-top-bar">Logger Terminal</div>
      <ul class="shell-body" #terminalContainer>
        <li tabindex="-1" class="shell-system-li" 
        [ngClass]="{'shell-critical': entry.type === 5, 'shell-error': entry.type == 4, 'shell-warning': entry.type == 3, 'shell-information': entry.type == 2, 'shell-debug': entry.type == 1, 'shell-trace': entry.type == 0}" 
        *ngFor="let entry of entries">
          {{ entry.text }}
          <span *ngIf="entry.subText != null" class="col">{{entry.subText}}</span>
        </li>
      </ul>
              <!--<li>
          <div style="display:flex;">
              <input type="text" id="cmdUserInput" onkeyup="" autofocus />
          </div>
        </li>-->
    </div>
  </div>
</div>