<div class="content-container">
  <div class="content-area">
    <div style="display:flex;">
      <button type="button" class="btn btn-icon" [ngClass]="{'btn-primary': !autoscroll, 'btn-primary-outline': autoscroll}" aria-label="autoscroll" (click)="changeAutoscroll()" title="Autoscroll Text">
        <clr-icon shape="collapse-card"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-warning" aria-label="clear console" (click)="clearConsole()" title="Clear Console">
        <clr-icon shape="times-circle"></clr-icon>
      </button>
      <div class="vl"></div>
      <button type="button" class="btn btn-icon"
      [ngClass]="{'btn-primary': !showInformation, 'btn-primary-outline': showInformation}"
       aria-label="Filter Information messages" (click)="showInformation = !showInformation" title="Filter Information messages">
       <clr-icon *ngIf="showInformation" shape="filter"></clr-icon>
       <clr-icon *ngIf="!showInformation" shape="filter-off"></clr-icon>
        Information
      </button>
      <button type="button" class="btn btn-icon"
      [ngClass]="{'btn-primary filter-trace': !showTrace, 'btn-primary-outline filter-trace-outline': showTrace}"
       aria-label="Filter Trace messages" (click)="showTrace = !showTrace" title="Filter Trace messages">
       <clr-icon *ngIf="showTrace" shape="filter"></clr-icon>
       <clr-icon *ngIf="!showTrace" shape="filter-off"></clr-icon>
        Trace
      </button>
      <button type="button" class="btn btn-icon"
      [ngClass]="{'btn-primary filter-debug': !showDebug, 'btn-primary-outline filter-debug-outline': showDebug}"
       aria-label="Filter Debug messages" (click)="showDebug = !showDebug" title="Filter Debug messages">
       <clr-icon *ngIf="showDebug" shape="filter"></clr-icon>
       <clr-icon *ngIf="!showDebug" shape="filter-off"></clr-icon>
        Debug
      </button>
      <button type="button" class="btn btn-icon"
      [ngClass]="{'btn-primary filter-warning': !showWarning, 'btn-primary-outline filter-warning-outline': showWarning}"
       aria-label="Filter Warning messages" (click)="showWarning = !showWarning" title="Filter Warning messages">
       <clr-icon *ngIf="showWarning" shape="filter"></clr-icon>
       <clr-icon *ngIf="!showWarning" shape="filter-off"></clr-icon>
        Warning
      </button>
      <button type="button" class="btn btn-icon"
      [ngClass]="{'btn-primary filter-error': !showError, 'btn-primary-outline filter-error-outline': showError}"
       aria-label="Filter Error messages" (click)="showError = !showError" title="Filter Error messages">
       <clr-icon *ngIf="showError" shape="filter"></clr-icon>
       <clr-icon *ngIf="!showError" shape="filter-off"></clr-icon>
        Error
      </button>
      <button type="button" class="btn btn-icon"
      [ngClass]="{'btn-primary filter-critical': !showCritical, 'btn-primary-outline filter-critical-outline': showCritical}"
       aria-label="Filter Critical messages" (click)="showCritical = !showCritical" title="Filter Critical messages">
       <clr-icon *ngIf="showCritical" shape="filter"></clr-icon>
       <clr-icon *ngIf="!showCritical" shape="filter-off"></clr-icon>
        Critical
      </button>
    </div>
    <div class="shell-wrap">
      <div class="shell-top-bar">Logger Terminal</div>
      <ul class="shell-body" #terminalContainer>
        <li tabindex="-1" class="shell-system-li" 
        [ngClass]="{'shell-critical': entry.type === 5, 'shell-error': entry.type == 4, 'shell-warning': entry.type == 3, 'shell-information': entry.type == 2, 'shell-debug': entry.type == 1, 'shell-trace': entry.type == 0}" 
        *ngFor="let entry of entries">
          {{ entry.text }}
          <span *ngIf="entry.subText != null" class="col">{{entry.subText}}</span>
        </li>
      </ul>
              <!--<li>
          <div style="display:flex;">
              <input type="text" id="cmdUserInput" onkeyup="" autofocus />
          </div>
        </li>-->
    </div>
  </div>
</div>